.card {
    height: 90%;
}

.cardColoring {
    background: #FEF5ED;
}

.upDownBtn {
    margin-top: 1rem;
    background-color: #D3E4CD;
    color: teal !important;
    font-weight: 600;
    font-size: 0.8rem;
}

.upDownBtn:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cardTitle {
    font-weight: 600;
    font-size: 1.25em;
    font-style: italic;
    color: teal !important;
}

.range-slider input[type=range]::-webkit-slider-thumb {
    background: teal !important;
}
  
.custom-range input[type=range]::-moz-range-thumb {
    background: teal !important;
}
  
.custom-range input[type=range]::-ms-thumb {
    background: teal !important;
}

.compress-button {
    margin-top: 2rem;
    background-color: teal !important;
    color: #D3E4CD !important;
    border-color: teal !important;
}

.compress-button:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.text-image-compression-rate {
    margin-top: 1rem;
    font-size: small;
    color: black;
    text-align: center;
    font-weight: 400;
}

.numer-comp-rate {
    text-align: center !important;
}

.timer {
    margin-top: 2rem;
    text-align: center;
}