.body {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
    border: #99A799;
    border-radius: 1rem;
    border-style: solid;
    padding: 2rem;
    background-color: #FEF5ED;
  }
  
.title {
    font-weight: 700;
    text-shadow: teal;
    color: darkslategray;
}
  
.subtitle {
    font-weight: 500;
    font-size: medium;
    color: darkslategray;
}